extends ../includes/layout_default

block content
  include includes/head

  form(method='post' action='/settings/password')
    section.box.has-background-white.has-text-centered
      .field
        .control.has-icons-left
          input.input.is-large(type='password' name='new' placeholder='New Password')
          span.icon.is-large.is-left
            i.icon-key

      .field
        .control.has-icons-left
          input.input.is-large(type='password' name='verify' placeholder='Repeat New Password')
          span.icon.is-large.is-left
            i.icon-options

      .field
        .control.has-icons-left
          input.input.is-large(type='password' name='current' placeholder='Current Password')
          span.icon.is-large.is-left
            i.icon-lock

      if user.verified === 1

        .field
          .control.has-icons-left
            input.input.is-large.has-text-centered(type='text' name='token' placeholder='000000')
            span.icon.is-large.is-left
              i.icon-key
      
    .level
      .level-left
        a.button.is-large.is-danger.is-outlined(href='/settings/') Cancel
      .level-right
        button.button.is-large.is-success.is-outlined(type='submit') Update
