footer.hero-foot(style='padding: 20px 10px 20px 10px;')
	.container
		.level
			.level-left
				a(href='/') Link
				span &nbsp; | &nbsp;
				a(href='/') Link
				span &nbsp; | &nbsp;
				a(href='/') Link

			.level-right
				| Crafted with
				span.icon.has-text-danger
					icon.icon-heart
				| by Fexra &nbsp; | &nbsp; Your Site &copy; 2019

script(src='/js/app.js')