head
	title #{title} | TRTL Express Starter
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css', integrity='sha256-2pUeJf+y0ltRPSbKOeJh09ipQFYxUdct5nTY6GAXswA=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma-badge@2.0.0/dist/css/bulma-badge.min.css', integrity='sha256-I+C/Eup4TsatVcYF2m9S9U+J9HQTr4m58RqWwXwzbTo=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma-switch@2.0.0/dist/css/bulma-switch.min.css', integrity='sha256-jCV/cXwP13w0GNHLgFx6SFgTNAvJPvS5MIhuE30Ng08=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bulma-tooltip@2.0.2/dist/css/bulma-tooltip.min.css', integrity='sha256-4sEalG00AgYSQIYA/likT3rU/pElCgDfnyHz/mf+j30=', crossorigin='anonymous')
	link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css', integrity='sha256-7O1DfUu4pybYI7uAATw34eDrgQaWGOfMV/8erfDQz/Q=', crossorigin='anonymous')
	link(rel='stylesheet' href='/css/app.css')



	