html
    include header.pug

    body.has-navbar-fixed-top
        include nav.pug

        section.hero.is-light
            .hero-body
                .container

                    if title != 'Docs' && title != 'Status'
                        include messages.pug
                        
                    block content

        include footer.pug