extends ../includes/layout_hero_full

block content
  .columns.is-mobile.is-centered
    .column.is-half
      div(style='margin-bottom:30px;').has-text-centered
        img(src='/img/swanson/350/Wardrobe_Mushrooms.png')
      hr
      h1.title.is-size-3.has-text-weight-light.has-text-centered Not Authenticated